.cl1{
    text-align: justify;
  }
  .clss2{
    font-size:200%;
  }
  .cl3{
    color:black;
  }
  .bod{
    background-color:rgb(57, 125, 227);
  }
  .p1{
    text-align: justify;
    font-size: 110%;
    margin-left: 8%;
    margin-right: 8%;
  }
  .p2{
    font-size: 200%;
  }
  .v1{
    background-color: orange;
  }